body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat'
}
.right_content{
    margin: 0px;
    padding: 0px;
}
.home_page{
    width: 100%;
    display: block;
    padding: 0px;
}
.wide{
    max-width: 1440px;
    margin: 0 auto;
}
.browserRoutter{
    margin: 0px;
    padding: 0px;
}
